html {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    background-image: url("../img/background@1X.png");
    background-size: cover;
}

body {
    margin: 0;
    padding: 0;
}

/* --------- Header --------- */

.header {
    padding: 2rem 8rem;
    box-sizing: border-box;
    height: 120px;
}

.logo {
    display: inline-block;
}

.logo-name {
    font-size: 1.2rem;
}

.first, .last {
    display: block;
    margin-left: 60px;
}

.logo-name::before {
    content: '';
    background-image: url("../img/logo@1X.png");
    display: inline-block;
    background-size: 48px 48px;
    height: 50px;
    width: 50px;
    position: absolute;
    background-repeat: no-repeat;
}

.contacts {
    display: inline-block;
}

.logo a {
    display: inline-block;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.2rem;
}

.logo a:hover {
    color: #F26522;
}

.logo-name:hover::before {
    background-image: url("../img/hover/logo@1X.png");
    background-repeat: no-repeat;
}

.contacts-item {
    padding: 2px 0;
}

.contacts-item a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
}

.contacts {
    text-align: right;
    list-style: none;
    padding: 0;
    margin: 0;
    float: right;
}


 /*_____ Content ______*/

.content {
    height: calc(100vh - 120px - 30px);
    padding: 0 8rem;
    text-align: center;
}

.content-card {
    display: inline-block;
    position: relative;
}

.content-card a {
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
}

.block {
    background-color: #F26522;
    height: 60px;
    width: 100%;
    display: none;
    position: absolute;
    top: 141px;
}

.prise{
    text-align: left;
    float: left;
    font-size: 1.2rem;
    margin-left: 20px;
}

.prise span {
    font-size: 0.7rem;
}

.details {
    text-align: right;
    font-size: 0.9rem;
    margin-top: 30px;
    margin-right: 15px;
}

.details::after {
    content: '';
    background-image: url("../img/hover/Arrow@1X.png");
    display: inline-block;
    height: 10px;
    width: 10px;
    background-repeat: no-repeat;
    margin-left: 10px;
    opacity: 0.6;
}

.content-card a:hover .description {
    color: #F26522;

}

.content-card a:hover .block {
    display: block;
}

.cont1, .cont2 {
    padding-bottom: 45px;
}

.img {
    margin-bottom: 8px;
}

.content-card:first-child {
    float: left;
}

.content-card:last-child {
    float: right;
}

/* _____Footer______ */

.footer {
    height: 30px;
    color: #FFFFFF;
    font-size: 0.8rem;
    text-align: center;
}

